.card {
    background-color: rgba(160, 128, 64, 0.3);
    border: 1px dashed #FFCE6D;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 4em 0.5rem 5em 0.5rem;
}

.card-body {
    width: 75%;
    margin: auto;
    text-align: left;
}

.card-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

p {
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        width: 70%;
        gap: 1.6rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    .card {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    .card-body {
        width: 90%;
        margin: auto;
        text-align: left;
        text-align: center;
    }
}