.stat-cont {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2em 0;
}

.stat-txt {
    align-self: flex-end;
}

.stat-num {
    color: #FFCE6D;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.stat-title {
    color: #FFFFFC;
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .stat-title,
    .stat-num {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .stat-title,
    .stat-num {
        font-size: 18px;
    }
    .stat-cont {
        flex-direction: column;
    }
}