* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html {
    background: url('./assets/bodyy.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 100% 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #000;
}

 ::-webkit-scrollbar-thumb {
    background: #FFCE6D;
}